
body {
    background-color: #F5F5F5;
    padding: 20px;
}
.hero {
    height: 40vh;
    border: solid #1E1E1E 3px;
    margin-bottom: 40px;
}

.banner {
    background-color: #F5F5F5;
    color: #1E1E1E;
    padding: 20px;
    font-family: 'Playfair Display', serif;

    font-size: 80px;
    font-weight: 600;
    text-align: center;

}

.plates {
    padding: 50px 20px 20px 50px;
    border: solid #1E1E1E 3px;
    align-items: center;
}

.channel-description {
    background-color: #F5F5F5;
    color: #1E1E1E;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 50;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 20px;
    align-items: center;

}


.image-square {
    /* display: grid; */
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: none;
  
}

.image-square:hover {
    border: solid #1E1E1E 10px;
  
}

.image-blocks {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
    grid-gap: 50px;

 
}

.description {
    color: black;
    padding: 20px;
    font-family: 'Playfair Display', serif;
    background-color: white;
    font-size: 15px;
    height: 220px;
    overflow: hidden;
}

.content {
    color: black;
    display: grid;
    font-family: 'Playfair Display', serif;
    grid-gap: 50px;
    background-color: white;
    padding: 20px;
    width: 100%;
    font-size: 15px;
}




@media only screen and (max-width: 600px) {

    .hero {
        height: 70vh;
        border: solid #1E1E1E 3px;
        margin-bottom: 20px;
    }
    .plates {
        padding: 10px;
        border: solid #1E1E1E 3px;
        align-items: center;
    }
    .banner {
        padding: 10px;
        font-size:50px;
        font-weight: 600;
        text-align: left;

    
    }

    .channel-description {

        text-align: left;
        font-family: 'Inter', sans-serif;
        font-weight: 50;
        padding-bottom: 60px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 20px;
        font-size: 18px;
        align-items: center;
        width: 90%;
    
    }

    .image-square {
        /* display: grid; */
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: none;
      
    }
    .image-blocks {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        grid-gap: 20px;
    
     
    }

    .description {
        color: black;
        padding: 20px;
        height: 150px;
        overflow: hidden;
        font-size: 10px;
    }

  }